:root {
    --clr-primary-1: hsl(43, 86%, 17%);
    --clr-primary-2: hsl(43, 77%, 27%);
    --clr-primary-3: hsl(43, 72%, 37%);
    --clr-primary-4: hsl(42, 63%, 48%);
    --clr-primary-5: hsl(42, 78%, 60%);
    --clr-primary-6: hsl(43, 89%, 70%);
    --clr-primary-7: hsl(43, 98%, 76%);
    --clr-primary-8: ■hsl(45, 86%, 81%);
    --clr-primary-9: hsl(45, 90%, 88%);
    --clr-primary-10: ■hsl(45, 100%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
}

::selection {
    background: var(--clr-primary-5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    font-family: "Playwrite NZ", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--clr-primary-9);
}

.title {
    font-size: 3.5rem;
}

.text {
    font-size: 1.8rem;
    font-weight: 500;

    margin-bottom: 2rem;
}

.button {
    display: inline-block;

    padding: 2rem 4rem;
    background: var(--clr-grey-5);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

    color: var(--clr-white);
    font-size: 1.7rem;
}

.button:hover {
    background: var(--clr-grey-6);
}